.input_Container {
    background-color: rgba(#fff, .3);
    border: 1px solid rgba(#f3f3f3, .7);
    border-radius: 50px;
    padding: 10px 20px;
    outline: none;
    font-size: 14px;
    font-family: "Nunito Sans";
    font-weight: 400;
    color: #f3f3f3;
    caret-color: #f3f3f3;


    &:focus {
        background-color: rgba(#fff, .5);
        border: 1px solid #f3f3f3;

        &.error {

            border: 2px solid #FF1414;

        }
    }

    &:valid {
        border: 1px solid #f3f3f3;
    }

    &::placeholder {
        color: #f3f3f3;
    }

}