@import "../../assets/global";

.Title_all {
    font-weight: 800;
    font-family: "Nunito Sans";
    text-transform: uppercase;
    word-break: keep-all;
}

.Label_all {
    font-family: "Nunito Sans";
    word-break: keep-all;
}